---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';

import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Beratung',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Anmelden',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Beratung"
    actions={[
      { text: 'Mehr erfahren', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/consulting.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Menschen im Mittelpunkt: <br />
      <span class="text-accent dark:text-white highlight">Technologie</span> 
      zur Hand.<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Digitale Transformation trifft auf die Schnittstellen zwischen Mensch und Technologie. <span class="font-semibold">Setbase</span> bietet Unterstützung in jeder Phase der Produktentwicklung, indem wir Methodik und technisches Know-how gleichzeitig bereitstellen.</span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Was wir bieten"
    subtitle="Unser Wertversprechen."
    columns={2}
    items={[
      {
        title: 'Strategische Beratung',
        description:
          "Unsere strategischen Beratungsdienste helfen Unternehmen, Veränderungen zu meistern und ihre Ziele zu erreichen. Wir unterstützen bei der Anpassung von Geschäftsmodellen, der Ausrichtung von Technologie- und Unternehmensstrategien und der Optimierung von Prozessen.",
        icon: 'tabler:layers-union',
      },
      {
        title: 'Projektausführung',
        description: `Produktmanagement, Product Ownership oder Projektleitung für agile, klassische oder technische Projekte – wir unterstützen bei der Einführung und Umsetzung von Projekten im digitalen Bereich.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Innovation',
        description:
          "Bei Setbase betrachten wir Innovation als den Prozess, Bereiche, Produkte oder Dienstleistungen durch neue Methoden, das Hinterfragen des Status quo und die Implementierung neuartiger Ideen zu erneuern. Unsere interdisziplinäre Methodik und technologiegetriebene Herangehensweise fördern Innovation, die darauf ausgelegt ist, Ihre Vision zu verwirklichen.",
        icon: 'tabler:writing',
      },
      {
        title: 'Schnell-zum-Markt-Strategie',
        description: "Wir helfen Ihnen, die Reise von der Vision oder Idee zur Markteinführung zu beschleunigen. Wir konzentrieren uns nicht nur auf eine Methode wie Agile, sondern optimieren Prozesse mit einem Schwerpunkt auf reiner Effizienz – so bringen wir Produkte schnell auf den Markt.",
        icon: 'tabler:podium',
      },
      {
        title: 'Prozessoptimierung',
        description: `Entfalten Sie Ihr Potenzial durch optimierte Prozesse. Wir analysieren Workflows, identifizieren Ineffizienzen und implementieren maßgeschneiderte Verbesserungen, um Produktivität zu steigern, Kosten zu senken und nachhaltiges Wachstum zu fördern.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Agile, Kanban, Wasserfall & Lean Management',
        description: "Wir passen uns den einzigartigen Bedürfnissen jedes Projekts an, indem wir die effektivsten Methoden nutzen. Ob SCRUM, Kanban, Wasserfall oder Lean Management – wir passen unseren Ansatz an, um optimale Ergebnisse zu gewährleisten.",
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps3
  title="Kontaktieren Sie uns"
  subtitle="Zögern Sie nicht, uns zu kontaktieren:"
  callToAction={{
    text: 'Erreichen Sie uns',
    href: '/contact',
  }}
  items={[
    {
      title: 'Schreiben Sie uns',
      description: 'info@setbase.ch',
      icon: 'tabler:mail',
    },
    {
      title: 'Rufen Sie uns an',
      description: '+41 78 320 72 65',
      icon: 'tabler:headset',
    },
    {
      title: 'Chatten Sie mit uns auf WhatsApp',
      href: 'https://wa.me/41783207265',
      icon: 'tabler:phone',
    },
  ]}
/>


  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Bleiben Sie informiert mit unserem Blog"
    information={`Entdecken Sie unsere Sammlung von Artikeln, Leitfäden und Tutorials zu Webentwicklung, Designtrends und der effektiven Nutzung von AstroWind für Ihre Projekte.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
