---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Innovation & Forschung',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    tagline="Innovation & Forschung"
    actions={[
      { text: 'Mehr erfahren', href: '#services' },
    ]}
>

    <Fragment slot="title">
      Neue Ideen <span
      class="text-accent dark:text-white highlight">und</span>
      Techniken.
    </Fragment>

    <Fragment slot="subtitle">
      Innovation beginnt mit dem Hinterfragen des Status quo und der Entwicklung <span class="font-semibold">neuer</span> Ansätze.
    </Fragment>
  </HeroText>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Die Reise zur Innovation"
    tagline="vereinfachter Prozess"
    isReversed={true}
    items={[
      {
        title: 'Das Problem verstehen',
        icon: 'tabler:number-1',
      },
      {
        title: 'Einblicke und Forschung',
        icon: 'tabler:number-2',
      },
      {
        title: 'Ideenfindung und Brainstorming',
        icon: 'tabler:number-3',
      },
      {
        title: 'Prototyping',
        icon: 'tabler:number-4',
      },
      {
        title: 'Validierung & Feldtests',
        icon: 'tabler:number-5',
      },
      {
        title: 'Verfeinerung',
        icon: 'tabler:number-6',
      },
      {
        title: 'Implementierung',
        icon: 'tabler:number-7',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1536816579748-4ecb3f03d72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Schritte Bild',
    }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Forschung"
    subtitle="Systematische Erweiterung des Wissensbestands."
    columns={2}
    items={[
      {
        title: 'Marktanalyse',
        description: 'Untersuchen Sie Branchentrends, Marktnachfragen und Wettbewerber, um Chancen und Herausforderungen zu erkennen.',
        icon: 'tabler:chart-line',
      },
      {
        title: 'Benutzereinblicke',
        description: 'Führen Sie Interviews, Umfragen und Usability-Studien durch, um das Verhalten, die Bedürfnisse und die Herausforderungen der Benutzer zu verstehen.',
        icon: 'tabler:user-circle',
      },
      {
        title: 'Technologie-Exploration',
        description: 'Identifizieren Sie aufstrebende Technologien und Tools, die Ihre Ziele unterstützen und Ihre Produkte oder Lösungen verbessern könnten.',
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Machbarkeitsstudien',
        description: 'Bewerten Sie die technische, operative und finanzielle Machbarkeit, um sicherzustellen, dass Ihre Idee praktikabel und umsetzbar ist.',
        icon: 'tabler:report-analytics',
      },
      {
        title: 'Datenbasierte Einblicke',
        description: 'Nutzen Sie Analysen und Daten, um Annahmen zu validieren und Entscheidungen für fundierte Innovationen zu treffen.',
        icon: 'tabler:database',
      },
      {
        title: 'Prototyp-Feedback',
        description: 'Testen Sie frühe Konzepte mit Prototypen, um verwertbares Feedback zu sammeln und die Richtung zu verfeinern.',
        icon: 'tabler:flask',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Bereit für Innovation?"
    subtitle="Lassen Sie uns gemeinsam neue Wege finden!"
    actions={[
      {
        variant: 'primary',
        text: 'Kontaktieren Sie uns',
        href: '/contact',
      },
    ]}
  />
</Layout>
