---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Produktentwicklung',
};
---

<Layout metadata={metadata}>
  
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Produktentwicklung"
    actions={[
      { text: 'Mehr erfahren', href: '#services' },
    ]}
  >
    <Fragment slot="title">
      Entwickeln Sie Ihr Produkt mit <span
        class="text-accent dark:text-white highlight">uns.</span>
    </Fragment>

    <Fragment slot="subtitle">
      Verwirklichen Sie Ihre Vision mit den Fähigkeiten von <span class="font-semibold">Setbase</span> in der Produktentwicklung.
    </Fragment>

    <Fragment slot="image">
      <video
      autoplay
      muted
      loop
      playsinline
      class="rounded-lg shadow-lg max-w-full h-auto"
    >
      <source src="/video/Poroduct_Dev_1920_1080_25fps.mp4" type="video/mp4" />
      Ihr Browser unterstützt das Video-Tag nicht.
    </video>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Unsere Expertise:"
    id="services"
    subtitle="Wir bieten alle Schritte der Produktentwicklung aus einer Hand und legen damit den Grundstein für Ihre Produktreise."
    items={[
      {
        title: 'Analyse',
        description:
          'Von der Produkt-Markt-Fit-Analyse über Forschung bis hin zu innovativen Ansätzen schaffen wir die Grundlage für Ihre Produktreise. Gemeinsam bestimmen wir, wie Ihre Idee so schnell und kosteneffizient wie möglich in ein Produkt verwandelt werden kann.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Produktentwicklung',
        description:
          'Unsere Experten entwickeln Ihr Produkt vom Prototyp bis zur Produktionsversion in einem iterativen und einfachen Prozess, wobei Einfachheit und zielorientierte Funktionalität als Schlüsselprinzipien gelten.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Markteinführung',
        description:
          "Eine reibungslose Markteinführung, sichergestellt durch hohe Qualitätsstandards, ermöglicht es Ihnen, Ihre entscheidenden ersten Kunden zufriedenzustellen und den Grundstein für den Erfolg Ihres Produkts zu legen.",
        icon: 'flat-color-icons:bullish',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Unsere Ressourcen"
    subtitle="Eine umfassende Sammlung von Ressourcen für eine schnelle und effiziente Produktentwicklung."
    columns={3}
    items={[
      {
        title: 'In-house Lab',
        description:
          'Unser internes Labor mit umfangreichen Ressourcen wie Sensoren, Aktoren und Komponenten ermöglicht eine schnelle und kosteneffiziente Iteration durch die Phasen der Produktentwicklung.',
        icon: 'tabler:artboard',
      },
      {
        title: '3D-Druck-Labor',
        description: 'Unsere interne 3D-Druckanlage ermöglicht eine schnelle, flexible Prototypenerstellung und effiziente Produktentwicklung.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Interdisziplinarität',
        description:
          'Interdisziplinarität treibt Innovationen voran, indem sie vielfältige Fachkenntnisse kombiniert, um komplexe Herausforderungen in der Produktentwicklung zu bewältigen.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Ganzheitlichkeit',
        description: 'Durch die Integration von Perspektiven aus Design, Engineering und Strategie liefern wir ganzheitliche Lösungen, die innovativ, effizient und perfekt auf Ihre Produktvision abgestimmt sind.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Netzwerk',
        description:
          'Unser umfangreiches nationales und internationales Netzwerk ermöglicht es uns, strategisch auszulagern, um Zeitpläne zu beschleunigen und Kosten zu optimieren.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'State of the Art',
        description: 'Bei Setbase verfolgen wir den Ansatz, die neuesten Technologien zu nutzen, um Produkte auf dem neuesten Stand der Technik zu entwickeln.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps3
  title="Lassen Sie uns Ihre Vision umsetzen!"
  subtitle="Einfacher Kontakt zu uns:"
  callToAction={{
    text: 'Kontaktieren Sie uns',
    href: '/contact',
  }}
  items={[
    {
      title: 'Schreiben Sie uns',
      description: 'info@setbase.ch',
      icon: 'tabler:mail',
    },
    {
      title: 'Rufen Sie uns an',
      description: '+41 78 320 72 65',
      icon: 'tabler:headset',
    },
    {
      title: 'Chatten Sie mit uns auf WhatsApp',
      href: 'https://wa.me/41783207265',
      icon: 'tabler:phone',
    },
  ]}
/>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Bleiben Sie informiert mit unseren Papers"
    information={`Entdecken Sie unsere Sammlung von Artikeln, Leitfäden und Papers zu interessanten Themen, Erkenntnissen und Projekten.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

</Layout>
