---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';

import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Prototyping und MVP',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Anmelden',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Prototyping und MVP"
    actions={[
      { text: 'Mehr erfahren', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1597423498219-04418210827d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Prototyping und MVP Hero Image',
    }}
  >
    <Fragment slot="title">
      Bauen, Testen, Iterieren: <br />
      <span class="text-accent dark:text-white highlight">Prototyping</span>
      & Entwicklung.<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Bei <span class="font-semibold">Setbase</span> spezialisieren wir uns auf die schnelle und kosteneffiziente Erstellung von Prototypen und MVPs. Durch schnelle Iterationen und Benutzerfeedback stellen wir sicher, dass Ihr Produkt validiert und bereit für den Erfolg ist.
      </span>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Was wir bieten"
    subtitle="Von der Idee zur Realität."
    columns={2}
    items={[
      {
        title: 'Schnelles Prototyping',
        description:
          "Wir entwickeln Prototypen schnell, um Konzepte zu validieren, Funktionen zu testen und frühzeitiges Feedback zu sammeln, wodurch Markteinführungszeiten und Risiken reduziert werden.",
        icon: 'tabler:tools',
      },
      {
        title: 'Minimum Viable Product (MVP)',
        description: `Unsere MVP-Dienste helfen Ihnen, sich auf die Bereitstellung zentraler Funktionen zu konzentrieren, die Ihre Idee validieren und erste Benutzer anziehen, ohne übermäßig zu entwickeln.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Iterative Entwicklung',
        description:
          "Wir verwenden agile Methoden, um Prototypen und MVPs basierend auf kontinuierlichem Feedback zu iterieren und zu verfeinern, sodass das Endprodukt den Benutzeranforderungen entspricht.",
        icon: 'tabler:recycle',
      },
      {
        title: 'In-House 3D-Druck',
        description: "Unsere 3D-Druckeinrichtungen ermöglichen schnelles Prototyping physischer Komponenten und sorgen für eine schnelle und flexible Produktentwicklung.",
        icon: 'tabler:printer',
      },
      {
        title: 'Effiziente Ressourcennutzung',
        description: `Wir nutzen unser umfangreiches Netzwerk und unsere internen Ressourcen, um kosteneffiziente Lösungen zu schaffen und dabei hohe Qualitätsstandards zu gewährleisten.`,
        icon: 'tabler:cash',
      },
      {
        title: 'Testing und Validierung',
        description: "Wir führen gründliche Tests und Validierungen durch, um sicherzustellen, dass Ihr Prototyp oder MVP benutzerfreundlich, funktional und marktreif ist.",
        icon: 'tabler:checkup-list',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps3
    title="Kontaktieren Sie uns"
    subtitle="Lassen Sie uns Ihre Ideen verwirklichen:"
    callToAction={{
      text: 'Kontaktieren Sie uns',
      href: '/contact',
    }}
    items={[
      {
        title: 'Schreiben Sie uns',
        description: 'info@setbase.ch',
        icon: 'tabler:mail',
      },
      {
        title: 'Rufen Sie uns an',
        description: '+41 78 320 72 65',
        icon: 'tabler:headset',
      },
      {
        title: 'Chatten Sie mit uns auf WhatsApp',
        href: 'https://wa.me/41783207265',
        icon: 'tabler:phone',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Bleiben Sie informiert mit dem Blog von Setbase"
    information={`Entdecken Sie unsere Sammlung von Artikeln, Leitfäden und Tutorials zu Prototyping, MVP-Entwicklung und der Erstellung wirkungsvoller Produkte.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
