---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';


import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Prototyping and MVP',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Prototyping and MVP"
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/prototyping.jpg',
      alt: 'Prototyping and MVP Hero Image',
    }}
  >
    <Fragment slot="title">
      Build, Test, Iterate: <br />
      <span class="text-accent dark:text-white highlight">Rapid Prototyping</span>
      & Development.<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        At <span class="font-semibold">Setbase</span>, we specialize in creating prototypes and MVPs quickly and cost-effectively. By embracing rapid iteration and user feedback, we ensure your product is validated and ready for success.
      </span>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="What we offer"
    subtitle="From concept to reality."
    columns={2}
    items={[
      {
        title: 'Rapid Prototyping',
        description:
          "We develop prototypes quickly to validate concepts, test functionality, and gather early feedback, reducing time-to-market and risk.",
        icon: 'tabler:tools',
      },
      {
        title: 'Minimum Viable Product (MVP)',
        description: `Our MVP services help you focus on delivering core functionalities that validate your idea and attract initial users without overengineering.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Iterative Development',
        description:
          "We use agile methodologies to iterate and refine prototypes and MVPs based on continuous feedback, ensuring the final product meets user needs.",
        icon: 'tabler:recycle',
      },
      {
        title: 'In-House 3D Printing',
        description: "Our 3D printing facilities enable rapid prototyping of physical components, ensuring fast and flexible product development.",
        icon: 'tabler:printer',
      },
      {
        title: 'Efficient Resource Utilization',
        description: `We leverage our extensive network and in-house resources to create cost-effective solutions while maintaining high standards of quality.`,
        icon: 'tabler:cash',
      },
      {
        title: 'Testing and Validation',
        description: "We conduct thorough testing and validation to ensure your prototype or MVP is user-friendly, functional, and market-ready.",
        icon: 'tabler:checkup-list',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps3
    title="Get in Touch"
    subtitle="Let's bring your ideas to life:"
    callToAction={{
      text: 'Contact us',
      href: '/contact',
    }}
    items={[
      {
        title: 'Email us',
        description: 'info@setbase.ch',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+41 78 320 72 65',
        icon: 'tabler:headset',
      },
      {
        title: 'Chat with us on WhatsApp',
        href: 'https://wa.me/41783207265',
        icon: 'tabler:phone',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with Setbase's blog"
    information={`Explore our collection of articles, guides, and tutorials on prototyping, MVP development, and creating impactful products.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
