---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Smart Environments, Smart Home & Beleuchtung',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Anmelden',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Smart Environments, Smart Home & Beleuchtung"
    actions={[
      { text: 'Mehr erfahren', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/smarthome.jpg',
      alt: 'Smart Environments Hero Image',
    }}
  >
    <Fragment slot="title">
      Räume neu gestalten: <br /> 
      <span class="text-accent dark:text-white highlight">Smart Environments</span>
      und Beleuchtungslösungen.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Setbase</span> revolutioniert Wohn- und Arbeitsräume mit intelligenten Systemen, Beleuchtung und nahtloser Automatisierung. Von der Konzeption bis zur Installation bringen wir Innovation in greifbare Nähe.
      </span>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Warum Setbase wählen?"
    subtitle="Technologie für Ihre Räume."
    columns={2}
    items={[
      {
        title: 'Smart-Home-Systeme',
        description:
          'Von Hausautomatisierung bis hin zu sprachgesteuerten Geräten entwerfen wir Systeme, die Komfort, Sicherheit und Energieeffizienz verbessern.',
        icon: 'tabler:smart-home',
      },
      {
        title: 'Intelligente Beleuchtung',
        description: `Erstellen Sie dynamische, stimmungsvolle Beleuchtungslösungen, die sich nahtlos in Ihren Raum integrieren und gleichzeitig den Energieverbrauch optimieren.`,
        icon: 'tabler:bulb',
      },
      {
        title: 'Individuelle Automatisierung',
        description:
          'Maßgeschneiderte Automatisierungslösungen für Wohn- und Geschäftsräume, die den Alltag vereinfachen und die Produktivität steigern.',
        icon: 'tabler:devices-cog',
      },
      {
        title: 'IoT-Integration',
        description: `Verbinden und steuern Sie Geräte mit modernster IoT-Technologie, um eine wirklich smarte Umgebung zu schaffen.`,
        icon: 'tabler:cloud-data-connection',
      },
      {
        title: 'Nahtlose Installation',
        description: `Unsere Experten sorgen für eine reibungslose Installation und Integration von Smart-Home- und Beleuchtungssystemen, die perfekt auf Ihre Bedürfnisse abgestimmt sind.`,
        icon: 'tabler:tool',
      },
      {
        title: 'Laufender Support & Wartung',
        description: `Wir bieten kontinuierliche Unterstützung und Wartung, um sicherzustellen, dass Ihre intelligenten Systeme reibungslos und effizient laufen.`,
        icon: 'tabler:headset',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
  title="Setbase - Lightbase"
  subtitle="Innovative Beleuchtungslösungen"
  isReversed
  items={[
    {
      title: 'Beschreibung:',
      description:
        'Unsere Beleuchtungslösungen verwandeln Räume durch die Kombination von Funktionalität, Energieeffizienz und Ästhetik. Von dynamischen, stimmungsvollen Designs bis hin zu modernsten intelligenten Beleuchtungssystemen schaffen wir inspirierende und leistungsstarke Umgebungen.',
    },
    {
      title: 'Vorteile:',
      description: `Verbessern Sie Ambiente und Produktivität mit maßgeschneiderten Beleuchtungslösungen. <br /> Reduzieren Sie den Energieverbrauch mit effizienten und nachhaltigen Beleuchtungssystemen. <br /> Schaffen Sie visuell beeindruckende und funktionale Räume mit anpassbaren, modernen Designs.`,
    },
  ]}
  image={{
    src: '~/assets/images/led_room.jpg',
    alt: 'Beleuchtungslösungen Bild',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Lightbase: <br /><span class="text-2xl">Innovative Beleuchtungslösungen</span>
    </h3>
    <p class="mt-4 text-lg">
      Erfahren Sie mehr über unsere Beleuchtungslösungen unter 
      <a href="https://www.lightbase.ch" target="_blank" class="text-accent hover:underline"> www.lightbase.ch</a>.
    </p>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Häufig gestellte Fragen"
    items={[
      {
        title: 'Was ist in Ihren Smart-Home-Lösungen enthalten?',
        description:
          'Unsere Lösungen umfassen Hausautomatisierung, Lichtsteuerung, IoT-Integration, Energiemanagement und maßgeschneiderte Installationen.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Können Ihre Systeme mit vorhandenen Geräten integriert werden?',
        description: `Ja, unsere Smart-Home- und Beleuchtungslösungen sind so konzipiert, dass sie sich nahtlos in vorhandene Geräte und Systeme integrieren lassen.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Bieten Sie Wartungsdienste an?',
        description:
          'Absolut. Wir bieten kontinuierlichen Support und Wartung, um sicherzustellen, dass Ihre Systeme effizient und auf dem neuesten Stand bleiben.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Sind Ihre Lösungen energieeffizient?',
        description: `Ja, Energieeffizienz ist ein zentraler Fokus unserer Smart Environments und hilft Ihnen, Kosten und Ihren ökologischen Fußabdruck zu reduzieren.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps3
    title="Kontaktieren Sie uns"
    subtitle="Bereit, Ihren Raum zu transformieren? Lassen Sie uns Ihre Vision besprechen."
    callToAction={{
      text: 'Jetzt starten',
      href: '/contact',
    }}
    items={[
      {
        title: 'Schreiben Sie uns',
        description: 'info@setbase.ch',
        icon: 'tabler:mail',
      },
      {
        title: 'Rufen Sie uns an',
        description: '+41 78 320 72 65',
        icon: 'tabler:headset',
      },
      {
        title: 'Chatten Sie mit uns',
        description: 'Kontaktieren Sie uns über WhatsApp',
        href: 'https://wa.me/41783207265',
        icon: 'tabler:phone',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Bleiben Sie informiert mit dem Blog von Setbase"
    information={`Entdecken Sie Artikel, Leitfäden und Tutorials zu Smart-Home-Technologien, Beleuchtungssystemen und der Gestaltung vernetzter Räume.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
