---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';

import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Softwareentwicklung',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Anmelden',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="SOFTWAREENTWICKLUNG"
    actions={[
      { text: 'Mehr erfahren', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Softwareentwicklung Image',
    }}
  >
    <Fragment slot="title">
      Innovative Technologien <br /> für Ihre <span class="text-accent dark:text-white highlight"
        >Ziele</span> entwickeln<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Ein vielfältiges und umfassendes Technologieportfolio stellt sicher, dass für jede Anforderung die passende Lösung gefunden wird.
      </span>
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Warum mit uns arbeiten?"
    subtitle="Unser Wertversprechen"
    columns={2}
    items={[
      {
        title: 'Skalierbare Lösungen maßgeschneidert für Ihre Bedürfnisse',
        description:
          'Wir liefern robuste und flexible Software, die mit Ihrem Unternehmen wächst und einzigartigen Herausforderungen gerecht wird.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Modernste Technologie für zukunftssichere Systeme',
        description: `Unsere Expertise in den neuesten Frameworks und Tools sorgt für innovative, effiziente und langlebige Lösungen.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Agile Prozesse und Lean Management für schnelle Ergebnisse',
        description:
          'Wir nutzen Methoden, die den meisten Wert in kürzester Zeit bringen – sei es agil, lean oder schnelle Entwicklung.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Ergebnisse, die zählen',
        description: `Wir entwickeln Software mit einem klaren Zweck: Prozesse zu optimieren, die Produktivität zu steigern und messbare Ergebnisse für Ihr Unternehmen zu liefern.`,
        icon: 'tabler:rocket',
      },
    ]}
  />

<!-- Features2 Widget ************** -->

<Features2
  title="Was wir tun"
  subtitle="Unsere Stärke liegt in der Kombination verschiedener Fachgebiete zur Förderung von Innovation und Effizienz."
  tagline="SETBASE"
  items={[
    {
      title: 'Individuelle IT-Lösungen',
      description: "Wir setzen Ihre Ideen in umsetzbare und messbare Konzepte um, analysieren Ihre Vision sorgfältig und legen die Grundlage für eine erfolgreiche Umsetzung.",
      icon: 'flat-color-icons:todo-list',
    },
    {
      title: 'Frontend',
      description: "Wir gestalten und implementieren intuitive und optisch ansprechende Benutzeroberflächen für ein nahtloses Nutzererlebnis auf allen Plattformen.",
      icon: 'flat-color-icons:gallery',
    },
    {
      title: 'Backend',
      description: "Wir entwickeln robuste und skalierbare Backend-Lösungen für sichere und effiziente Verarbeitung.",
      icon: 'flat-color-icons:settings',
    },
    {
      title: 'Daten / Visualisierung',
      description: "Wir verwandeln komplexe Daten in interaktive Visualisierungen, um fundierte Entscheidungen zu erleichtern.",
      icon: 'flat-color-icons:combo-chart',
    },
    {
      title: 'Webentwicklung',
      description: "Wir entwickeln responsive und funktionsreiche Websites, die auf die Bedürfnisse und Ziele Ihres Unternehmens abgestimmt sind.",
      icon: 'flat-color-icons:template',
    },
    {
      title: 'Mobile Entwicklung',
      description: "Wir erstellen benutzerfreundliche und leistungsstarke mobile Anwendungen für Android- und iOS-Plattformen.",
      icon: 'flat-color-icons:tablet-android',
    },
    {
      title: 'UX / UI',
      description: "Wir gestalten ansprechende und benutzerzentrierte Designs, die Benutzerfreundlichkeit und ästhetischen Anspruch priorisieren.",
      icon: 'flat-color-icons:cursor',
    },
    {
      title: 'Module / Microservices',
      description: "Wir spezialisieren uns auf modulare Architekturen und Microservices für bessere Skalierbarkeit und Wartbarkeit.",
      icon: 'flat-color-icons:electronics',
    },
    {
      title: 'KI',
      description: "Wir nutzen künstliche Intelligenz, um intelligente und adaptive Lösungen für Sie zu entwickeln.",
      icon: 'flat-color-icons:mind-map',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- Content Widget **************** -->

  <Content
    title="Individuelle Lösungen"
    subtitle="Besondere Herausforderungen erfordern flexible Lösungen."
    isReversed
    items={[
      {
        title: 'Starten Sie durch',
        description:
          'Sind Sie ein Startup und benötigen Software oder Produktentwicklung? SETBASE fördert Ihren Erfolg. Gemeinsam analysieren wir, was Ihre Vision erfordert und wie wir schnellstmöglich vorankommen. Wir halten es einfach, transparent und zielorientiert.',
      },
      {
        title: 'Unsere Anstrengung, Ihr Erfolg:',
        description: `Wir ermöglichen es Startups, schnell das zu bekommen, was sie brauchen, ohne viel Zeit und Ressourcen zu investieren. <br /> Die Anstrengung liegt bei uns, den Erfolg genießen wir gemeinsam. Teilen Sie uns Ihre Anforderungen mit und entdecken Sie, wie einfach es ist, die Technologie zu erhalten, die Ihr Startup benötigt.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Individuelle Lösungen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Startup-Erfolg: <br /><span class="text-2xl">Starten Sie mit SETBASE</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps2 Widget ****************** -->

  <Steps3
  title="Kontaktieren Sie uns"
  subtitle="Mehrere Möglichkeiten, uns zu erreichen:"
  callToAction={{
    text: 'Kontaktieren Sie uns',
    href: '/contact',
  }}
  items={[
    {
      title: 'Schreiben Sie uns',
      description: 'info@setbase.ch',
      icon: 'tabler:mail',
    },
    {
      title: 'Rufen Sie uns an',
      description: '+41 78 320 72 65',
      icon: 'tabler:headset',
    },
    {
      title: 'Chatten Sie mit uns auf WhatsApp',
      href: 'https://wa.me/41783207265',
      icon: 'tabler:phone',
    },
  ]}
/>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Bleiben Sie informiert mit unseren Papern"
    information={`Entdecken Sie unsere Sammlung von Artikeln, Leitfäden und Papern zu interessanten Themen, Erkenntnissen und Projekten.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
