---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';

import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Software engineering',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="SOFTWARE ENGINEERING"
    actions={[
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Software engineering Image',
    }}
  >
    <Fragment slot="title">
      Innovative Technologies <br /> used to Fit Your <span class="text-accent dark:text-white highlight"
        >Goals</span> <br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        A diverse and comprehensive technology portfolio ensuring the right solution for every need. 
      </span
      >
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Why work with us?"
    subtitle="Our value proposition"
    columns={2}
    items={[
      {
        title: 'Scalable Solutions Tailored to Your Needs',
        description:
          'We deliver robust and flexible software designed to grow with your business and meet unique challenges head-on.',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Cutting-Edge Technology for Future-Proof Systems',
        description: `Our expertise in the latest frameworks and tools ensures solutions that are innovative, efficient, and built to last.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Agile Processes or lean management for Fast, Reliable Results',
        description:
          'We embrace working with what brings the most value in the shortest amount of time, be it agile, lean or rapid development.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Focused on Results That Matter',
        description: `We build software with a purpose—streamlining operations, boosting productivity, and delivering measurable outcomes for your business.`,
        icon: 'tabler:rocket',
      },
    ]}
  />

<!-- Features2 Widget ************** -->

<Features2
  title="What we do"
  subtitle="Our strength lies in combining different fields to drive innovation and efficiency."
  tagline="SETBASE"
  items={[
    {
      title: 'Custom IT Solutions',
      description: "We turn your ideas into actionable and measurable concepts, carefully analyzing your vision and laying the base for a successful future implementation.",
      icon: 'flat-color-icons:todo-list',
    },
    {
      title: 'Frontend',
      description: "We design and implement intuitive and visually appealing user interfaces, ensuring seamless user experiences across platforms.",
      icon: 'flat-color-icons:gallery',
    },
    {
      title: 'Backend',
      description: "We build robust and scalable server-side solutions to support your applications with secure and efficient processing.",
      icon: 'flat-color-icons:settings',
    },
    {
      title: 'Data / Visualization',
      description: "We transform complex data into insightful and interactive visual representations to enhance decision-making processes.",
      icon: 'flat-color-icons:combo-chart',
    },
    {
      title: 'Web Development',
      description: "We develop responsive and feature-rich websites tailored to your business needs and goals.",
      icon: 'flat-color-icons:template',
    },
    {
      title: 'Mobile Development',
      description: "We create user-friendly and high-performing mobile applications for Android and iOS platforms.",
      icon: 'flat-color-icons:tablet-android',
    },
    {
      title: 'UX / UI',
      description: "We craft engaging and user-centric designs that prioritize usability and aesthetic appeal.",
      icon: 'flat-color-icons:cursor',
    },
    {
      title: 'Modules / Microservices',
      description: "We specialize in modular architectures and microservices to enhance scalability and maintainability.",
      icon: 'flat-color-icons:electronics',
    },
    {
      title: 'AI',
      description: "We harness the power of artificial intelligence for you to create smart and adaptive solutions.",
      icon: 'flat-color-icons:mind-map',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- Content Widget **************** -->

  <Content
    title="Individual solutions"
    subtitle="Special cases need flexible solutions."
    isReversed
    items={[
      {
        title: 'Get started',
        description:
          'Are you a startup with a need for software or product development in general? SETBASE propels your success. Together we analyze what your vision requires and how we can move towards it as fast as possible. We keep it simple, transparent and goal oriented.',
      },
      {
        title: 'Our effort for success Together:',
        description: `We allow startups to quickly get what they need without investing extensive time and resources. <br /> The effort is on us, the success we enjoy together. Share your requirements with us and discover how easy it is to get the technology your startup needs.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Startup success: <br /><span class="text-2xl">Launching with SETBASE</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
  isAfterContent={true}
  items={[
    {
      title: 'Innovation:',
      description: `Sometimes there is an idea worth exploring - be it conceptually or even with a prototype or MVP. <br /> Together we run through your vision, combine our expertise and connections to various industries and experts with your vision and expertise to find innovative solutions together.`,
    },
    {
      title: "Let's try:",
      description: `Sometimes the only way to find out is to go forward and create something. We keep it simple, easy, with no overhead and enable you to try what you are envisioning. Present the result to convince or to find out - having something at hand is the best way to to do it. <br ><a href="/services/prototyping" class="text-primary underline hover:text-secondary">Learn more</a>`,
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Portfolio Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Idea factory: <br /><span class="text-2xl">Is it possible? Is it a good idea?</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- FAQs Widget ******************* 

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is AstroWind compatible with the latest versions of Astro and Tailwind CSS?',
        description:
          'Yes, AstroWind is designed to be compatible with the latest versions of both Astro and Tailwind CSS. This ensures that you can harness the full capabilities of these technologies while benefiting from the features offered by AstroWind.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroWind for both personal and commercial projects?',
        description: `Certainly! AstroWind is versatile and can be used for a wide range of projects, including both personal and commercial endeavors. Whether you're building a professional portfolio, launching a startup, or creating a marketing website, AstroWind has you covered.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding knowledge is required to use AstroWind?',
        description:
          'While some familiarity with HTML, CSS, and web development concepts is helpful, the user-friendly interface and customization options allow those with limited coding experience to create impressive websites. For more advanced users, AstroWind offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AstroWind users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
-->

  <!-- Steps2 Widget ****************** -->

  <Steps3
  title="Get in Touch"
  subtitle="Multiple ways to contact us:"
  callToAction={{
    text: 'Reach out',
    href: '/contact',
  }}
  items={[
    {
      title: 'Email us',
      description: 'info@setbase.ch',
      icon: 'tabler:mail',
    },
    {
      title: 'Call us',
      description: '+41 78 320 72 65',
      icon: 'tabler:headset',
    },
    {
      title: 'Chat with us on WhatsApp',
      href: 'https://wa.me/41783207265',
      icon: 'tabler:phone',
    },
  ]}
/>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with our Papers"
    information={`Explore our collection of articles, guides, and papers on interesting topics, learnings and projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
