---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'SETBASE — your partner in the digital space',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
      variant: 'primary',
      text: 'Contact us',
      href: '/contact', // Navigates to the /contact page
      icon: 'tabler:mail',
      },
      { text: 'Learn more', href: '#Expertise' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
  <Fragment slot="title">
    <span class="hidden xl:inline">Set the base for your </span>
    <span class="inline xl:hidden">The base for your</span>
    <span class="text-accent dark:text-white highlight"> success</span>
  </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SETBASE</span> Solutions in the digital space.
        </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="Expertise"
    tagline="Expertise"
    title="What you get with us"
    subtitle={`<span class="block xl:hidden">Specialized expertise in IoT, AI, and smart environments for tailored solutions.</span><span class="hidden xl:block">Setbase offers specialized expertise in healthcare, IoT, AI, data science, and UX/UI, along with hands-on fields like smart environments, sensors, electrical installations, prototyping, and modeling — delivering tailored solutions for diverse technical challenges.</span>`}
    items={[
      {
        title: 'Software engineering',
        description:
          'We develop reliable and transparent solutions that work according to your requirements.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Requirements engineering',
        description:
          'We identify the requirements of your system and structure them into clear and realizable requirements.',
        icon: 'tabler:components',
      },
      {
        title: 'Management',
        description:
          'Product vision to product development, we help you crossing bridges and establisih your product vision.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Prototyping',
        description:
          'From concept to functional prototype or MVP, we bring ideas to life with speed and precision.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Healthcare Innovations',
        description:
          "Specialized tech solutions designed to support better healthcare outcomes.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'IoT and AI Integration',
        description:
          'Implementing IoT solutions and AI to enhance connectivity, data insights, and decision-making.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Insights"
    title={`<span class="block xl:hidden">SETBASE's Blueprint:</span><span class="hidden xl:block">SETBASE's Blueprint: Simplicity Meets Functionality!</span>`}
    items={[
      {
        title: 'Cutting-Edge Technology',
        description:
          'leverage the newest software development frameworks and cutting-edge technologies to ensure efficient, scalable, and future-proof solutions.',
      },
      {
        title: 'Modern Management',
        description:
          ' Our lean approach enables fast decisions, streamlined processes, and a collaborative environment to deliver exceptional results.',
      },
      {
        title: 'Customer-Centered Approach',
        description:
          'Through open communication, trust, and a deep understanding of your needs, we ensure a partnership that drives success and satisfaction.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Understanding Your Challenges',
        description: `Through thorough analysis, collaborative discussions, and detailed research, we ensure we grasp every aspect of your goals, constraints, and environment.`,
      },
      {
        title: 'Possibilities and Innovation',
        description:
          'We provide multiple variants and approaches to tackle your challenges, offering diverse perspectives and solutions.',
      },
      {
        title: 'Transparency and Efficiency',
        description:
          'We prioritize clear communication and streamlined processes. With full transparency at every stage and efficient workflows.',
      },
      {
        title: 'Building Strong Relationships',
        description:
          "We believe in partnerships built on trust and collaboration. We aim to foster long-lasting relationships that drive mutual success.",
      }
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Making sure your needs are met.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

   <!-- Steps Widget ****************** -->

  <Steps
    title="Get your Project going with SETBASE."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Your Vision</span>',
        description:
          "Share your ideas, goals, and challenges with our experts. We'll listen carefully to understand your needs and explore the possibilities together.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Your Solution</span>',
        description:
          "Based on your input, we design tailored approaches and provide clear options, ensuring the solution aligns perfectly with your vision and requirements.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Execution</span>',
        description:
          'With your approval, we execute the plan with precision, maintaining open communication and delivering results that exceed expectations.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What we do"
    subtitle="Our strength lies in combinig different fields to to drive innovation and efficiency."
    tagline="SETBASE"
    items={[
      {
        title: 'Concepts',
        description: "We turn your ideas into actionable and measurable concepts, carefully analyzing your vision and laying the base for a successful future implementation.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Product Management / Product Ownership',
        description:
          "We take charge of your product’s journey, ensuring seamless planning, execution, and delivery while aligning with your vision and KPI's.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Business Engineering',
        description:
          'We bridge the gap between technology and strategy, optimizing processes and designing innovative solutions to drive your business forward.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Software Engineering',
        description:
          "We craft robust, scalable, and efficient software solutions, leveraging the latest frameworks and technologies to meet your unique requirements.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Product Development',
        description:
          'From concept to reality, we design and build innovative products tailored to your needs, ensuring functionality, quality, and market readiness',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Flexible Pricing',
        description: 'We offer tailored pricing models that adapt to your project scope and needs. With options like upfront effort investments and success-based sharing.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Research',
        description: 'We dive deep into your industry, challenges, and ecosystem to uncover insights and opportunities. Science based approaches yield innovative insights.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'IoT and Smart Environments',
        description:
          'We design and implement intelligent systems that connect devices, optimize environments, and enhance functionality, bringing innovation to everyday life.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'AI',
        description: "We harness the power of artificial intelligence for you to create smart and adaptive solutions.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
