---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'SETBASE — your partner in the digital space',
  ignoreTitleTemplate: true,
};

const learnmore = "More"
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
      variant: 'primary',
      text: 'Contact us',
      href: '/contact', // Navigates to the /contact page
      icon: 'tabler:mail',
      },
      { text: 'Learn more', href: '#Expertise' },
    ]}
    image={{ src: '~/assets/images/hero-image3.png', alt: 'AstroWind Hero Image' }}
  >
  <Fragment slot="title">
    <span class="hidden xl:inline">Set the base for your </span>
    <span class="inline xl:hidden">The base for your</span>
    <span class="text-accent dark:text-white highlight"> success</span>
  </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">SETBASE</span> Solutions in the digital space.
        </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="Expertise"
    tagline="Expertise"
    title="What you get with us"
    subtitle={`<span class="block xl:hidden">Delivering tailored solutions for diverse industries and challenges.</span>
              <span class="hidden xl:block">Setbase offers specialized expertise in software engineering, consulting, and hands-on fields. Delivering tailored solutions for diverse challenges.</span>`}
    items={[
      {
        title: 'Software engineering',
        description:
          'We develop reliable and transparent solutions that work according to your requirements.',
        icon: 'tabler:brand-tailwind',
        href: '/services/software',
        mobileText: learnmore
      },
      {
        title: 'Product development',
        description:
          'We realize your product vision from concept, hardware and software to market entry.',
        icon: 'tabler:components',
        href: '/services/product',
        mobileText: learnmore
      },
      {
        title: 'Consulting',
        description:
          'Product vision to product development, we help you crossing bridges and establish your product vision.',
        icon: 'tabler:list-check',
        href: '/services/consulting', // Add a link to correct spot in the consulting page #todo
        mobileText: learnmore
      },
      {
        title: 'Prototyping & MVP',
        description:
          'From concept to functional prototype or MVP, we bring ideas to life with speed and precision.',
        icon: 'tabler:rocket',
        href: '/services/prototyping',
        mobileText: learnmore
      },
      {
        title: 'Innovation & Research',
        description:
          "Find new ways, implement high-end technology or let us deep dive into your challenges.",
        icon: 'tabler:arrows-right-left',
        href: '/services/innovation',
        mobileText: learnmore
      },
      {
        title: 'Smarthome and Ligthing',
        description:
          'From concept to implementation, smart home and Lighting solutions.',
        icon: 'tabler:bulb',
        href: '/services/smarthome',
        mobileText: learnmore
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Insights"
    title={`<span class="block xl:hidden">SETBASE's Blueprint:</span><span class="hidden xl:block">SETBASE's Blueprint: Simplicity Meets Functionality!</span>`}
    items={[
      {
        title: 'Cutting-Edge Technology',
        description:
          'Leveraging the newest software development frameworks and cutting-edge technologies to ensure efficient, scalable, and future-proof solutions.',
      },
      {
        title: 'Modern Management',
        description:
          ' Our lean approach enables fast decisions, streamlined processes, and a collaborative environment to deliver exceptional results.',
      },
      {
        title: 'Customer-Centered Approach',
        description:
          'Through open communication, trust, and a deep understanding of your needs, we ensure a partnership that drives success and satisfaction.',
      },
    ]}
    image={{
      src: '~/assets/images/consulting.jpg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <div class="hidden md:block">
    <Content
      isAfterContent
      items={[
        {
          title: 'Understanding Your Challenges',
          description: `Through thorough analysis, collaborative discussions, and detailed research, we ensure we grasp every aspect of your goals, constraints, and environment.`,
        },
        {
          title: 'Possibilities and Innovation',
          description:
            'We provide multiple variants and approaches to tackle your challenges, offering diverse perspectives and solutions.',
        },
        {
          title: 'Transparency and Efficiency',
          description:
            'We prioritize clear communication and streamlined processes. With full transparency at every stage and efficient workflows.',
        },
        {
          title: 'Building Strong Relationships',
          description:
            "We believe in partnerships built on trust and collaboration. We aim to foster long-lasting relationships that drive mutual success.",
        }
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
        alt: 'Blueprint Image',
      }}
    >
      <Fragment slot="content">Making sure your needs are met.</Fragment>

      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Content>
</div>

   <!-- Steps Widget ****************** -->

  <Steps
    title="Get your Project going with SETBASE."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Your Vision</span>',
        description:
          "Share your ideas, goals, and challenges with our experts. We'll listen carefully to understand your needs and explore the possibilities together.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Our Solution</span>',
        description:
          "Based on your input, we design tailored approaches and provide clear options, ensuring the solution aligns perfectly with your vision and requirements.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Execution</span>',
        description:
          'With your approval, we execute the plan with precision, maintaining open communication and delivering results that exceed expectations.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Get in touch&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">with us!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Don't hesitate to fill out our form, send us an email, call or simply message us on Whatsapp.
    </Fragment>
  </CallToAction>
</Layout>
